* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto; 
}

.slider {
    display: flex;
    flex-direction: column;
    height: 800px;
    padding-left: 98px;
    padding-right: 98px;
    background-image: url(../img/slider-img.png);
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
}

.menu-ul {
    display: flex;
    margin-top: 57px;
    margin-right: 80px;
    justify-content: space-around;
}

.logo {
    margin-top: 63px;
}

.menu-li {
    list-style-type: none;
    text-transform: uppercase;
}
.menu-ul a {
    color: #8c8c8c;
    font-size: 14px;
    text-decoration: none;
/*    font-family: "Montserrat Light";*/
    font-weight: 300;
    letter-spacing: 1.4px;
    padding:10px 10px;
}
.menu-ul a:hover {
    color:#212121;
}
.menu-active a {
    color: #212121;
/*    font-family: "Montserrat - Bold";*/
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid black;
    padding:10px 10px;
}

.search {
    width: 23px;
    height: 23px;
}

