body {
  background: #f8f8f8;
}

* {
	margin: 0;
	padding: 0;
}
h1, h2, h3, footer {
	color: #34363a;
 	font-family: "sans serif";
 	font-variant: small-caps;
 	font-size: 30px;
 	margin-left: 20px;
}

h1 {
	color: #7d2c50;

}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;

}
.container {
  width: 600px;
  margin: 0 auto;
}

.header {
  height: 100px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 35px;
  height: 35px;
  background-color: darkred;
  margin-top: 30px;
  margin-left: 60px;
}

.menu {
  margin-top: 40px;
  margin-right: 40px;
  list-style-type: none;
  display: flex;
  justify-content:flex-end;

}

.menu-list {
	width:100px;
	height: 20px;
	line-height: 20px;
	text-align:center;
}

 .menu_link {
 	text-decoration: none;
 	text-transform: uppercase;
 	color:black;
 }
.content {}

.footer {
  height: 60px;
  clear: both;
  padding-top: 40px;
  padding-right: 40px;
  font-size: 18px;
  background-color: #eee;
  display: flex;
  justify-content: flex-end;
  
}

.product {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.detailed-desc {
	clear:both;
}